<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<body>
<%- include('../includes/navbar.ejs') %>
<main>
    <div style="padding: 1rem; text-align: center;">
        <h1>My Cart</h1>
    </div>
    <% if (products.length > 0) { %>

        <ul class="cart__item-list">
            <% for (let product of products) { %>
                <li class="cart__item">
                    <h1><%= product?.productId.title %></h1>
                    <h2>Quantity: <%= product?.quantity %></h2>
                    <form action="/delete-cart-product" method="post">
                        
                        <input type="hidden" value="<%= product.productId._id %>" name="productId">
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </li>
            <% } %>
        </ul>
        <hr style="margin: .5rem 0;">
        <div class="centered">
            <form action="/create-order" method="post">
                
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>

    <% } else { %>
        <h1>No Products found in cart! Add Some</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>
